gh:
  org: "{{ github_user }}"
  repo: "{{ github_repo }}"

# TODO: Fill in and/or confirm these titles
titles:
  full: ""
  abbrev: "{{ github_repo }}"

# TODO: Confirm these URLs
urls:
  home: "{{ workshop_url }}"

{% if workshop_type == 'r' -%}
# TODO: Needs to set to either "introduction", "intermediate", or "advanced"
workshop_level: ""
{%- endif %}

# TODO: Add the URLs to the surveys.
surveys:
  pre-workshop: "TODO"
  feedback: "TODO"

{% if workshop_type == "r" -%}
# TODO: Update these versions
# Use `samwise::get_allowed_r_versions()` and `samwise::get_allowed_rstudio_versions()`
# to get a list of the allowed R and RStudio versions.
versions:
  r: ""
  rstudio: ""
{%- endif %}
