project:
  type: rostools-theme
  pre-render:
    - sh ./tools/get-contributors.sh {{ workshop_github_repo }}
    # TODO: Uncomment if you want to use slides.
    # - quarto render slides/*.qmd
  # resources:
  #   - slides/*.html

book:
  # TODO: Fill in the title.
  title: ""
  # TODO: Add more authors if needed.
  author:
    - name: {{ author_first_name }} {{ author_last_name }}
      affiliation: ""
      orcid: ""

  date: last-modified
  repo-url: https://github.com/{{ workshop_github_repo }}
  site-url: {{ workshop_url }}
  body-header: {{ '"{{< text_snippet wip >}}"' }}
  chapters:
    - index.qmd
    - part: "Overview"
      chapters:
        - preamble/syllabus.qmd
        - preamble/schedule.qmd
        - preamble/pre-workshop.qmd
    - part: "Pre-workshop"
      chapters:
        - preamble/overview.qmd
        - preamble/code-of-conduct.qmd
    - part: "Sessions"
      chapters:
        - sessions/introduction.qmd
        - sessions/session.qmd
        - sessions/conclusion.qmd
  appendices:
    - appendix/for-teachers.qmd
    - appendix/references.qmd
    - LICENSE.md
  page-footer:
    center:
      - text: "License: CC BY 4.0 {{< fa brands creative-commons >}} {{< fa brands creative-commons-by >}}"
        href: LICENSE.html
      - text: "Code of Conduct"
        href: "https://guides.rostools.org/conduct.html"

format:
  rostools-theme-html: default

editor:
  markdown:
    wrap: 72
    canonical: true

surveys:
  pre-workshop: GOOGLE-FORM-URL
  feedback: GOOGLE-FORM-URL

workshop-id: ID
