project:
  {% if for_rostools -%}
  type: rostools-theme
  {%- else -%}
  type: book
  {%- endif %}
  # TODO: Uncomment if you want to use slides.
  # pre-render:
    # - quarto render slides/*.qmd
  # resources:
  #   - slides/*.html

book:
  # TODO: Fill in the title.
  title: ""
  # TODO: Add more authors if needed.
  author:
    - name: ""
      affiliation: ""
      orcid: ""
  date: last-modified
  repo-url: "https://github.com/{{ github_repo_spec }}"
  # TODO: Fill in the URL
  site-url: ""
  {% if for_rostools -%}
  body-header: {{ '"{{< text_snippet wip >}}"' }}
  {%- endif %}
  downloads: [pdf]
  chapters:
    - index.qmd
    - part: "Overview"
      chapters:
        - overview/syllabus.qmd
        - overview/is-this-for-you.qmd
        - overview/schedule.qmd
        - overview/learning-design.qmd
    - part: "Pre-workshop"
      chapters:
        - pre-workshop/overview.qmd
        {% if workshop_type == "r" -%}
        - pre-workshop/installing-programs-r.qmd
        - pre-workshop/installing-r-packages.qmd
        {%- endif %}
        - pre-workshop/code-of-conduct.qmd
        - pre-workshop/survey.qmd
    - part: "Sessions"
      chapters:
        - sessions/introduction.qmd
        - sessions/session.qmd
        - sessions/conclusion.qmd
  appendices:
    - appendix/for-teachers.qmd
    - appendix/references.qmd
    {% if for_rostools -%}
    - CHANGELOG.md
    {%- endif %}
    - CONTRIBUTING.md
    - LICENSE.md
  page-footer:
    center:
    {% if for_rostools -%}
      - text: "License: CC BY 4.0 {{ '{{< fa brands creative-commons >}}' }} {{ '{{< fa brands creative-commons-by >}}' }}"
    {%- else -%}
      - text: "License: CC BY 4.0"
    {%- endif %}
        href: LICENSE.md
      - text: "Code of Conduct"
        href: "pre-workshop/code-of-conduct.qmd"

format:
  {% if for_rostools -%}
  rostools-theme-html:
    include-before-body:
      - "includes/site-counter.html"
  typst:
    brand: "_extensions/rostools/rostools-theme/_brand.yml"
    papersize: a4
    margin:
      x: 2cm
      y: 2cm
  {%- else -%}
  html: default
  typst:
    papersize: a4
    margin:
      x: 2cm
      y: 2cm
  {%- endif %}

metadata-files:
  - _metadata.yml
